
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 7fr;
}

.sidebar {
    display: grid;
    grid-template-rows: max-content max-content max-content;

    background: #1992d4;
    color: #ffffff;

    grid-row: 1 / -1;

    padding: 4px 16px 16px 16px;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;
    align-items: center;
}

.logo img {
    filter: invert();
    width: 48px;
}

.sidebar .menu {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 24px;

    align-items: center;

    list-style: none;
    padding: 16px;
}

.menu img {
    filter: invert();
    width: 32px;
}

.menu h3 {
    margin: 0;
}

.header {
    background: #ffffff;
    padding: 16px 64px 4px 32px;
}

.header .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top .icon {
    width: 24px;
}

.top .search {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.search .icon {
    padding-right: 16px;
}

.search input {
    width: 100%;
    max-width: 512px;
    border-radius: 24px;
    border-style: none;
    background-color: #e2e8f0;
    padding: 8px;
}

.top .me {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    gap: 24px;
}

.me .icon {
    justify-self: right;
}

.me .profile {
    width: 48px;
}

.me h3 {
}

.header .bottom {
    display: grid;
    grid-template-columns: max-content 2fr 1fr;
    gap: 16px;
    align-items: center;
}

.bottom img {
    width: 80px;
}

.bottom h2, .bottom p {
    margin: 0;
}

.bottom .buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 24px;
    justify-self: end;
}

.buttons > button {
    padding: 10px;
    border-radius: 32px;
    border-style: none;
    color: #ffffff;
    background-color: #1992d4;
    width: 100px;
}

.content {
    background: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 32px;
    padding: 32px;
}

.content .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1rem;
    grid-auto-rows: max-content;
    gap: 32px;
}

.projects > h2 {
    grid-column: 1 / -1;
}

.project {
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr;
    gap: 4px;

    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
    border-left: #F0B429 solid 8px;
}

.project p, .project h3 {
    margin: 0;
}

.project .interactions {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 24px;

    justify-self: right;
    align-self: end;
}

.interactions img {
    width: 24px;
}

.feed .announcements {
    background: #ffffff;
    padding: 32px;
    border-radius: 8px;
}

.announcement h4 {
    margin-top: 16px;
    margin-bottom: 2px;
}

.announcement p {
    margin-top: 0;
    margin-bottom: 16px;
}

.announcements .announcement:not(:last-child) {
    border-bottom: 1px solid;
}

.feed .trending {
    display: grid;
    gap: 16px;

    background: #ffffff;
    padding: 16px;
    border-radius: 8px;
}

.trending .trender {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
    column-gap: 8px;
}

.trender img {
    width: 48px;
    grid-row: 1 / -1;
    align-self: center;
}

.trender h4, .trender p {
    margin: 0;
}

.trender h4 {
    align-self: end;
}